<main>
  <router-outlet></router-outlet>
</main>

<mat-toolbar *ngIfRoute="['sign-in', 'sign-up']" class="toolbarNav">
  <a routerLink="/sign-in" mat-button>
    <mat-icon>login</mat-icon>
    Login
  </a>
  <a routerLink="/sign-up" mat-button>
    <mat-icon>person_add</mat-icon>
    Cadastro
  </a>
</mat-toolbar>

<mat-toolbar *ngIfRoute="['sign-in', 'sign-up', 'home']" class="toolbarNav">
  <a routerLink="/collections" mat-button>
    <mat-icon>dashboard</mat-icon>
    Collections
  </a>
  <a routerLink="/account" mat-button>
    <mat-icon>account_circle</mat-icon>
    Perfil
  </a>
</mat-toolbar>
