@import 'variables';
@import 'mixins';
@import 'colors';
@import 'functions';
@import 'material';
@import 'theme';

main {
  padding: rem(30 20);
  height: 100%;
}

mat-toolbar {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-around;

  &.toolbarNav.mat-toolbar-single-row {
    background-color: $color-surface;
  }

  a {
    @include flex-center;
    font-size: rem(14);

    mat-icon {
      margin-right: rem(5);
    }
  }
}
