@import 'variables';
@import 'mixins';
@import 'colors';
@import 'material';
@import 'media';
@import 'theme';

mat-toolbar {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-around;

  a {
    @include flex-center;
    font-size: rem(14);

    mat-icon {
      margin-right: rem(5);
    }
  }
}
