@import 'variables';
@import 'mixins';
@import 'colors';
@import 'material';
@import 'media';
@import 'theme';

:host {
  text-align: center;
  display: flex;
  flex-direction: column;

  h1 {
    margin-top: rem(70);
    font-size: rem(46);
    color: $color-title-on-background;
    margin-bottom: rem(70);
  }

  .separator {
    margin: rem(20 0);
  }
}

mat-form-field {
  width: 100%;
}

button[primary] {
  width: 100%;
  margin: 0;
}
