<header>
  <div class="title-back">
    <a mat-fab [routerLink]="['/collections']">
      <mat-icon>chevron_left</mat-icon>
    </a>
    <h1>HTML</h1>
  </div>
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
</header>

<h2>Tarefas - {{tasks.length}}</h2>

<div class="tasks">
  <task-item [task]="task" *ngFor="let task of tasks"></task-item>
</div>

<h2>Concluídas - 0</h2>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>edit</mat-icon>
    <span>Editar Coleção</span>
  </button>
  <button mat-menu-item>
    <mat-icon>delete</mat-icon>
    <span>Deletar Coleção</span>
  </button>
</mat-menu>
