<abstract-sign-in-up [title]="'Cadastro'">
  <ng-template #googleButton>
    <google-button></google-button>
  </ng-template>

  <ng-template #formArea>
    <form [formGroup]="signUpForm">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          formControlName="email"
          matInput
          placeholder="Ex. john-doe@gmail.com"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input formControlName="password" matInput type="password" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirmar senha</mat-label>
        <input formControlName="password" matInput type="password" />
      </mat-form-field>

      <custom-button [borderRadius]="12">Cadastrar</custom-button>
    </form>
  </ng-template>

  <ng-template #footer>
    <p>
      Já possui uma conta?
      <strong [routerLink]="['/sign-in']"><a>Login</a></strong>
    </p>
    <back-button></back-button>
  </ng-template>
</abstract-sign-in-up>
