@import 'mixins';
@import 'functions';
@import 'colors';

button[mat-stroked-button].btn {
  &--google {
    img {
      margin-right: rem(10);
    }

    font-size: rem(16);
    font-weight: 500;
    background: transparent;
    color: $color-text-on-background;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px $color-border;
    border-radius: $global-radius;
    width: 100%;
    margin: 0;
    padding: 10px;
  }
}
